<div class="comments-row">
    <mat-form-field>
        <input type="text" [formControl] = "commentCtrl" matInput placeholder="Laissez un commentaire…">
    </mat-form-field>
    <button [disabled]="!commentCtrl.valid"  style="align-self: start;" mat-icon-button color="primary" (click)="onLeaveComment()">
        <mat-icon>send</mat-icon>
    </button>
</div>

<mat-list *ngIf="comments.length">
    <h2 matSubheader style="padding-left: 15px; font-size: 15px;">Commentaires</h2>
    <mat-list-item *ngFor="let comment of comments">
        <span mat-line>{{ comment.comment }}</span>
        <span mat-line>{{ comment.createdDate | date }}</span>
    </mat-list-item>
</mat-list>