mat-list-item {
  border-bottom: thin solid #555;
}

.comments-row {
  display: flex;
  border-top: thin solid #555;
  padding-top: 5px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

mat-form-field {
  width: 100%;
}
