<mat-card>
    <mat-card-header>
        <mat-card-title>
            <span>{{ post.title | titlecase }}</span>
        </mat-card-title>
        <mat-card-subtitle>
            <span>{{ UserName | username: 'fr' }}</span>
            <span>{{ post.createdDate | date }}</span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img style="width: 100%;" mat-card-image *ngIf="post.imageUrl as imageUrl" [src]="imageUrl" [alt]="post.title">
        <span class="post-content">{{ post.content | shorten : 100 }}</span>
    </mat-card-content>
    <mat-card-actions>
        <app-comments style="width: 96%;" [comments]="post.comments" (newComment)="comment($event)" ></app-comments>
    </mat-card-actions>
</mat-card>