a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    &:hover {
      text-decoration: underline;
    }
  }

  .main-content {
    box-sizing: border-box;
    padding: 20px;
    max-width: 800px;
    margin: auto;
  }