/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('./assets/blurred-bg.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

a {
  color: white;
  font-weight: normal;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
